.left-side-changes-logo {
  width: 250px;
  height: 250px;
  margin-bottom: -100px;
}

.loader-div {
  position: absolute;
  top: 58%;
  left: 49%;
}
.loader-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  margin-bottom: -100px;
}
